@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
    background-image: linear-gradient(#636162, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px; padding: 0px; font-family: "Montserrat", sans-serif;
}
.main{
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.left{
    background-color: black;
    width: 200px;
    height: 100%;
    float: left;
}
.right{
    width: 450px;
    float: left;
}
.mi-foto img{
    width: 100%;
    border-radius: 50%;
}
.box1{
    position: relative;
}
.heading{
    background-color: #4d4d4d;
    padding: 10px;
    color: #98E6FC;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading::after{
    contain: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(65deg);
    z-index: -1;
}
.p1{
    padding: 9px 10px;
    font-size: 11px;
    color: white;
}
.fa-solid{
    color: #98E6FC;
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align: sub;
}
.skill-container{
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
}
.skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.ingles{
    width: 70%;
    background-color: red;
}
.js{
    width: 60%;
    background-color: red;
}
.html{
    width: 50%;
    background-color: red;
}
.css{
    width: 40%;
    background-color: red;
}
.nombre{
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}
.nombre{
    margin-bottom: 10px;
}
.box2{
    padding: 0px 50px;
    margin-top: 30px;
}
.p2{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}
h2{
    font-size: 16px;
    margin-bottom: 15px;
}
.p3{
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0px;
    margin-top: 10px;
}
.p3 span{
    color: purple; padding-left: 20px;
}
#img{
    display: none;
}
#img2{
    display: none;
}